<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
</head>
<body>
<div style="padding: 3rem 1.5rem; text-align: center;">
<h1>Admin panel</h1>
<form action="/admin/out" method="post">
<input class="btn btn-primary" type="submit" value="Sign out"/>
</form>
</div>
</body>
</html>